.medicine_card img{
    position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
    // top: 10px;
    // right: 10px;
    padding-right: 5rem;
    margin-top: 3rem;
}