
.nav_button{
  padding: 1.5em 3em;
  border: none;
  border-radius:5px;
  outline: none;
  background-color: var(--bs-primary-color);
  font-weight: 700;
  color: var(--bs-light-text-color);
  text-decoration: none;
  
}
.nav_button:hover{
  color: var(--bs-light-text-color);
}
.nav_button_area{
  margin-top: 3rem;
}